.desktopnavi {
    overflow: visible;
    position: fixed;
    top: 0;
    min-width: 100%;
    height: 80px;
    padding: 10px 30px 0;
    background-color: rgb(24, 24, 24);
    color: white;
    border-style: solid;
    border-image: linear-gradient(to right, rgb(128, 128, 180), rgb(163, 46, 163), rgb(128, 128, 180)) 1 round;
    border-width: 0 0 2px 0;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
}

.title {
    vertical-align: middle;
    display: table-cell;
    align-items: center;
    flex-grow: 70;
}

.title img {
    vertical-align: middle;
}

.navibuttonbox {
    flex-grow: 1;
    padding-bottom: 10px;
}

.navibutton {
    font-family: 'Roboto Flex';
    background-color: rgb(0, 0, 0, 0);
    border: none;
    font-size: 16px;
    border-radius: 4px;
    padding: 10px 15px;
    margin: 0;
    transition: 0.3s;
    color: #ffffff;
}

.navibutton:hover {
    cursor: pointer;
    background-color: rgb(100, 100, 100, 0.7);
}