@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Roboto&family=Roboto+Flex:opsz@8..144&display=swap');

* {
  box-sizing: border-box;
}

html {
  font-family: 'Roboto', 'Arial', sans-serif;
}

body {
  margin: auto;
  width: 100%;
}

h1 {
  font-size: 40px;
}

h2 {
  font-size: 25px;
  text-align: center;
  margin: 0 0 10px;
  font-family: 'Poppins';
  color: white;
}

p {
  font-size: 16px;
  margin-top: 10px;
  color: inherit;
}

hr {
  width: 80%;
}

a {
  color: lightskyblue;
}

a:visited {
  color: #c979f1
}

.desktopbox {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  background: inherit;
}

.content {
  min-width: 0;
  max-width: 100%;
  background: inherit;
  color: #E6E1E5;
  margin: 70px auto 0;
  padding: 0;
}

.flex-container {
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-between;
}

.card {
  background: #25232A;
  border-radius: 10px;
  margin-bottom: 10px;
  box-shadow: none;
  padding: 0;
}

.paragraphs {
  padding: 5px 20px;
}

.bigbuttonbox {
  display: flex;
  text-align: center;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
  padding: 10px;
  margin-left: 0;
}

.nextgame {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-content: center;
  margin-bottom: 4px;
}

.bigbutton {
  width: 260px;
  height: 80px;
  margin-bottom: 5px;
  background-image: linear-gradient(to right, #4FC82F, #19B14E);
  color: rgba(255, 255, 255, 0.7);
  border-width: 0;
  border-radius: 10px;
  font-family: 'Poppins';
  font-size: 20px;
  transition: 0.2s;
}

.bigbutton:hover {
  background-image: linear-gradient(to right, #70D61D, #19B14E);
  color: white;
  cursor: pointer;
}

.bigbutton > div {
  display: flex;
  align-items: center;
  justify-content: center;
}

.discordbutton {
  background-image: linear-gradient(to right, #399BED, #5865F2);
}

.discordbutton:hover {
  background-image: linear-gradient(to right, #47BFFF, #5865F2);
}

.formbutton {
  background-image: linear-gradient(to right, #7627BB, #4F23A0);
}

.formbutton:hover {
  background-image: linear-gradient(to right, #8455DB, #4F23A0);
}

.button-text-large {
  display: none;
}

.quotes {
  flex: 1 1 0px
}

.quotes > p {
  text-align: center;
  padding: 0 15px;
}

.video-highlights {
  justify-content: center;
}

.slideshow, .introvideo {
  width: 100%;
  padding: 15px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.vid-small, .slideshow-small {
  max-width: 100%;
}

.vid-med, .slideshow-med, .slideshow-large, .vid-large {
  display: none;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 1,
  'wght' 400,
  'GRAD' 0,
  'opsz' 20
}

@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(https://example.com/MaterialIcons-Regular.eot); /* For IE6-8 */
  src: local('Material Icons'),
    local('MaterialIcons-Regular'),
    url(https://example.com/MaterialIcons-Regular.woff2) format('woff2'),
    url(https://example.com/MaterialIcons-Regular.woff) format('woff'),
    url(https://example.com/MaterialIcons-Regular.ttf) format('truetype');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 30px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}