html {
  background: rgb(20, 20, 24) no-repeat fixed center center;
  background-size: cover;
  font-family: 'Roboto', 'Arial', sans-serif;
}

body {
  color: black;
  margin: auto;
  width: 100%;
}

h1 {
  font-size: 40px;
}

h2 {
  font-size: 25px;
  text-align: center;
  margin: 0 0 10px;
}

p {
  font-size: 16px;
  margin-top: 10px;
}

hr {
  width: 50%;
}

a {
  color: lightskyblue;
}

a:visited {
  color: rgb(243, 87, 243);
}

.center {
  text-align: center;
}

.content {
  min-width: 400px;
  max-width: 80%;
  margin: 100px auto 10px;
  padding: 10px;
  border-radius: 10px;
  background-color: rgb(255, 255, 255, 0.1);
  color: rgb(230, 230, 230);
}

.flex-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.flex-container > div {
  margin: 10px;
}

.quotes {
  padding: 0 70px;
  text-align: center;
}

@media only screen and (max-width: 630px) {/*When screen size is below 900px*/
  .responsive-iframe {
    width: 100%;
  }
}

@media (max-width: 1100px) {
  .content {
    max-width: 90%;
  }
}

@media (max-width: 900px) {
  .content {
    max-width: 100%;
    border-radius: 0px;
    margin: 70px auto 0;
    padding-bottom: 75px;
    background-color: rgb(44, 44, 48);
  }
  html {
    background-color: rgb(44, 44, 48);
  }
  .flex-container {
    flex-direction: column-reverse;
  }
}