.mobilenavi {
    position: fixed;
    top: 0;
    min-width: 100%;
    padding: 10px 10px 0;
    background-color: rgb(24, 24, 24);
    border-style: solid;
    border-image: linear-gradient(to right, rgb(128, 128, 180), rgb(163, 46, 163), rgb(128, 128, 180)) 1 round;
    border-width: 0 0 2px 0;
    display: none;
    flex-flow: row wrap;
    align-items: center;
}

/* Changes desktop navigation to mobile navigation */
@media screen and (max-width: 850px) {
    .desktopnavi {
        display: none;
    }
    .mobilenavi {
        display: flex;
    }
}

.titlesmall, .titlemed {
    flex-grow: 1000;
}

.titlesmall {
    display: none;
}


@media screen and (max-width: 575px) {
    .titlemed {display: none;}
    .titlesmall {display: block;}
}

.openmenu {
    min-width: 100%;
    justify-content: center;
    display: none;
}

.opened {
    display: flex;
}

.mobile-navibuttonbox {
    padding-bottom: 10px;
    padding-right: 0;
}

.mobile-navibutton {
    font-family: 'Roboto Flex';
    background-color: rgb(0, 0, 0, 0);
    border: none;
    font-size: 16px;
    border-radius: 4px;
    padding: 10px 15px;
    margin: 2px;
    transition: 0.3s;
    color: #ffffff;
}

.mobile-navibutton:hover {
    cursor: pointer;
    background-color: rgb(100, 100, 100, 0.7);
}

.hamburger {
    padding: 12px 15px;
}