/* Replace video and slideshow with medium versions */
@media (max-width: 1450px) {
    .vid-large, .slideshow-large {
      display: none;
    }
    .vid-med, .slideshow-med {
      display: block;
    }
}

/* Change video and slideshow to be stacked on top of each other */
@media (max-width: 1250px) {
    .slideshow {
        flex-direction: column;
    }
}

/* Use top navigation bar instead of navigation rail */
@media (max-width: 970px) {
    .desktopnavi {
        display: none;
    }
    .mobilenavi, .mobilemenu {
        display: flex;
    }
    .content {
        min-width: 0;
        max-width: 100%;
        border-radius: 0px;
        margin: 70px auto 0;
        padding: 20px 10px 0px 10px;
    }
}

/* Make large buttons stack on top of paragraphs, remove cards */
@media (max-width: 850px) {
    .flex-container {
        flex-direction: column-reverse;
    }
    .bigbuttonbox {
        margin-left: 0;
    }
}

/* Use shortened logo in navigation */
@media (max-width: 752px) {
    .titlemed {display: none;}
    .titlesmall {display: block;}
}

/* Replace video and slideshow with small versions */
@media (max-width: 535px) {
    .vid-med, .slideshow-med {
        display: none;
    }
    .vid-small, .slideshow-small {
        display: block;
    }
}

@media (max-width: 440px) {
    .titlesmall {display: none;}
    .titleicon {display: block;}
    .bigbutton {width: 320px;}
    .card {
        box-shadow: none;
        padding: 0;
    }
    .content {
        background-color: #25232A;
    }
}

@media (max-width: 360px) {
    .bigbutton {width: 280px;}
}

@media (max-width: 331px) {
    .titleicon {display: none;}
    .mobilenavi {justify-content: center;}
    .bigbutton {width: 240px;}
}